<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="../css/styls.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      
      <img class="portrait" src="../img/robot.png" alt="robot">
    </div>
    {{>footer}}
  </body>
</html>